---
layout: default
---

<div class="row flex-center">
  <h3><%= data.title %></h3>
</div>

<div class="row flex-center">
  <%= yield %>
</div>

<div class="row flex-center">
  <%= link_to "Back to family shares", relative_url("/family_shares") %>
</div>
