---<%

r.get do

  convo = site.data.chats.sample

  render_with do
    layout :page
    title "Karate Chat"
  end
end

%>---

<% convo["messages"].each_with_index do |message, index| %>

  <% if !index.even? %>
    <ul>
      <li class="wa-stack wa-gap-2xs"><wa-card>
  <% else %>
    <wa-card>
  <% end %>

  <div class="wa-stack">
    <div class="wa-flank">
      <wa-avatar image="/images/<%= message.speaker %>.jpg" label="<%= message.speaker %>" style="--size: 2rem;"></wa-avatar>
      <div class="wa-cluster">
        <strong><%= message.speaker %></strong>
        <span class="wa-caption-s">commented just now...</span>
      </div>
    </div>
    <p><%= message.text %></p>
  </div>
  <% if !index.even? %>
      </li>
    </ul>
  <% else %>
    </wa-card>
  <% end %>

<% end %>

<wa-card>
  <div class="wa-stack">
    <div class="wa-flank">
      <wa-avatar image="/images/sato.jpg" label="What's Sato not doing here??" style="--size: 2rem;"></wa-avatar>
      <div class="wa-cluster">
        <strong>Sato (Okinawan karate tough guy)</strong>
        <span class="wa-caption-s">commented just now...</span>
      </div>
    </div>
    <p>You used password, right? No one can break log...</p>
  </div>
</wa-card>

<ul>
  <li class="wa-stack wa-gap-2xs"><wa-card>
    <div class="wa-stack">
      <div class="wa-flank">
        <wa-avatar image="/images/miyagi.jpg" label="Aftah. Aftah Aftah!" style="--size: 2rem;"></wa-avatar>
        <div class="wa-cluster">
          <strong>Mr. Miyagi (Custodian, hero)</strong>
          <span class="wa-caption-s">commented just now...</span>
        </div>
      </div>
      <p>Hold Miyagi's beer...</p>
    </div>
  </wa-card></li>
</ul>
