---<%

r.get do

  convo = site.data.chats.sample

  render_with do
    layout :page
    title "Karate Chat"
  end
end

%>---

<% convo["messages"].each_with_index do |message, index| %>

  <% if !index.even? %>
    <ul>
      <li class="wa-stack wa-gap-2xs"><wa-card>
  <% else %>
    <wa-card>
  <% end %>

  <div class="wa-stack">
    <div class="wa-flank">
      <wa-avatar image="/images/<%= message.speaker %>.jpg" label="<%= message.speaker %>" style="--size: 2rem;"></wa-avatar>
      <div class="wa-cluster">
        <strong><%= message.speaker %></strong>
        <span class="wa-caption-s">commented just now...</span>
      </div>
    </div>
    <p><%= message.text %></p>
  </div>
  <% if !index.even? %>
      </wa-card>

      </li>
    </ul>
  <% else %>
    </wa-card>
  <% end %>

<% end %>

